# pandas

In [ ]:
import pandas as pd
# series
#data frames

# when data is in list format

# # series

In [59]:
import pandas as pd
data=pd.Series([1,2,3,4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [60]:
#index can be as our wish if we do not mention anything by default it takes integers
data=pd.Series([1,2,3,4],index=('a','b','c','d'))
data

a    1
b    2
c    3
d    4
dtype: int64

In [61]:
data.values

array([1, 2, 3, 4], dtype=int64)

In [62]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [63]:
data[0]

1

In [64]:
data[0:2]

a    1
b    2
dtype: int64

In [105]:
'a' in data

False

In [65]:
data.index[0]

'a'

In [66]:
data.index[1]

'b'

In [67]:
data=pd.Series([1,2,3,4,5],index=('a','b','c','d','e'))
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [68]:
data['c']

3

In [69]:
data.index[2]

'c'

# when data is in dictionary format

In [70]:
data=pd.Series({'p':20,'r':30,'a':40})
data

p    20
r    30
a    40
dtype: int64

In [71]:
data[0]

20

In [72]:
data.index[0]

'p'

In [73]:
data['p']

20

In [74]:
data[:2]

p    20
r    30
dtype: int64

In [75]:
data[:'a']

p    20
r    30
a    40
dtype: int64

In [76]:
data1[4]

'b'

In [77]:
data1.values

array(['a', 'b', 'c', 'd', 'e'], dtype=object)

In [78]:
data1.index[3]

8

# data frames

In [89]:
d1=pd.Series({'a':20,'b':30,'c':40})
d1

a    20
b    30
c    40
dtype: int64

In [90]:
d2=pd.Series({'a':120,'b':130,'c':140})
d2

a    120
b    130
c    140
dtype: int64

In [91]:
data=pd.DataFrame({'d1':d1,'d2':d2})
data

   d1   d2
a  20  120
b  30  130
c  40  140

In [82]:
data.values

array([[ 20, 120],
       [ 30, 130],
       [ 40, 140]], dtype=int64)

In [83]:
data['d1']

a    20
b    30
c    40
Name: d1, dtype: int64

In [84]:
data['d2']

a    120
b    130
c    140
Name: d2, dtype: int64

In [85]:
d1={'a':12,'b':10,'c':40}
d1

{'a': 12, 'b': 10, 'c': 40}

In [86]:
d2={'a':120,'b':130,'c':140}
d2

{'a': 120, 'b': 130, 'c': 140}

In [87]:
data=pd.DataFrame({'d1':d1,'d2':d2})
data

   d1   d2
a  12  120
b  10  130
c  40  140

In [93]:

data=pd.DataFrame(d1,columns=['area'])
data

   area
a    20
b    30
c    40

# index

In [94]:
ind=pd.Index([2,3,6,5,4])
ind

Int64Index([2, 3, 6, 5, 4], dtype='int64')

In [95]:

ind[1]

3

In [96]:
ind[1:3]

Int64Index([3, 6], dtype='int64')

In [98]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

5 (5,) 1 int64

# #set operations

In [101]:
indA=pd.Index([1,2,3,4,5])
indB=pd.Index([11,12,13,4,5])
indA & indB

Int64Index([4, 5], dtype='int64')

In [102]:
indA | indB

Int64Index([1, 2, 3, 4, 5, 11, 12, 13], dtype='int64')

In [104]:
indA ^ indB# symmetric difference

Int64Index([1, 2, 3, 11, 12, 13], dtype='int64')

In [106]:
data=pd.Series({'a':10,'b':20,'c':30})
data

a    10
b    20
c    30
dtype: int64

In [107]:
data['a']

10

In [108]:
'a' in data

True

In [110]:
data.keys()

Index(['a', 'b', 'c'], dtype='object')

In [111]:
list(data.items())

[('a', 10), ('b', 20), ('c', 30)]

In [114]:
data['a']=0.2
data

a     0
b    20
c    30
dtype: int64

In [115]:
##slicing by implicit indexing
data[0:2]

a     0
b    20
dtype: int64

In [117]:
#explicit indexing
data['a':'c']

a     0
b    20
c    30
dtype: int64

In [121]:
#fancy indexing
data[['a','c']]
data

a     0
b    20
c    30
dtype: int64

In [119]:
#masking
data[(data>0)&(data<=20)]
data

a     0
b    20
c    30
dtype: int64

In [123]:
##loc,iloc

In [125]:
#loc attribute allows always explicit indexing
data.loc['a':'c']

a     0
b    20
c    30
dtype: int64

In [141]:
area=pd.Series({'california':200,'argentina':290,'india':2009})
population=pd.Series({'california':20016,'argentina':20404,'india':20800,'australia':52410})
df=pd.DataFrame({'area':area,'population':population})

In [142]:
df

              area  population
argentina    290.0       20404
australia      NaN       52410
california   200.0       20016
india       2009.0       20800

In [143]:
df.area[0]

290.0

In [144]:
df.index[0]

'argentina'