In [2]:
s="welcome to python program"
s.split()

['welcome', 'to', 'python', 'program']

## list

In [1]:
l=[1,2,3,5,86.5]
s=0
for i in l:
    s=s+i

print(sum(l))

97.5

In [17]:
a=2.6#some in built keywords
round(a)
b=[1,2,3]
print(len(b))
print(sum(b))
print(chr(97))
ord('A')
print(bin(4))
print(hex(78))

3
6
a
0b100
0x4e

In [8]:
a=-2.2# absolute turns -ve to +ve
abs(a)

2.2

In [19]:
#sort
l=[11,2,3,5,16.5]
sorted(l)

[2, 3, 5, 11, 16.5]

In [20]:
s=[11,2,3,5,16.5]
sorted(l,reverse=True)

[16.5, 11, 5, 3, 2]

In [21]:
max(l)

16.5

In [27]:
range()

TypeError: range expected 1 arguments, got 0

In [28]:
s=[11,2,3,5,16.5]
print(s[1::2])

[2, 5]

In [29]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [33]:
l=[]
l.append(5)
print(l)

[5]

In [ ]:
l=[]

In [34]:
l.append(50)
l.append(500)
print(l)

[5, 50, 500]

In [35]:
l.append(550)
l.append(5070)
print(l)

[5, 50, 500, 550, 5070]

In [46]:
l.extend([1,2])
l

[5,
 50,
 500,
 550,
 5070,
 [1, 2],
 [1, 2],
 [1, 2],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 1,
 2,
 1,
 2,
 1,
 2]

In [48]:
l1=[1,2,3]
l1

[1, 2, 3]

In [49]:
l1.append([21,31])

In [1]:
name=[]
age=[]
i=0
for i in range(0,4):
    name1=input("enter name")
    age1=input("enter age")
    name.append(name1)
    age.append(age1)
print(name,age)

enter namedfg
enter age45
enter namewetfg
enter age564
enter nameerff
enter age54
enter nameegtf
enter age54
['dfg', 'wetfg', 'erff', 'egtf'] ['45', '564', '54', '54']

In [5]:
l=[1,2,8,7,5,2]
l.insert(0,100)
l

[100, 1, 2, 8, 7, 5, 2]

In [8]:
l.reverse()
print(l)

[2, 5, 7, 8, 2, 1, 100]

In [10]:
l.sort()
print(l)

[1, 2, 2, 5, 7, 8, 100]

In [11]:
l.sort(reverse=True)
l

[100, 8, 7, 5, 2, 2, 1]

In [12]:
l.pop()

1

In [13]:
l.pop(3)
l

[100, 8, 7, 2, 2]

In [14]:
l.remove(100)
l

[8, 7, 2, 2]

In [15]:
l.clear()
l

[]

In [24]:
l=[1,2,8,7,5,2]#deleting a list prints nothing because as list is deleted nothing is stored so gives l is not defind
del l
print(l)

NameError: name 'l' is not defined

In [26]:
l=[1,2,8,7,5,2]
b=0
print(l)
print(b)
l[0]=50

[1, 2, 8, 7, 5, 2]
0

In [28]:
b=l.copy()
print(l)
print(b)

[50, 2, 8, 7, 5, 2]
[50, 2, 8, 7, 5, 2]

## tuple

In [31]:
t=(1,2,3)
t[0:]
print(t)
sum(t)
print(t)
len(t)
print(t)
t.index(2)
t

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)

(1, 2, 3)

In [32]:
t.index(2)

1

In [33]:
t.count(1)

1

In [34]:
t.count(4)

0

## packing and unpacking

In [35]:
a=("prasanna","4561323258")
(name,mobile)=a

In [36]:
name

'prasanna'

## Dictionaries

In [37]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [39]:
d={"name":"patil","roll":"654","age":"52"}
print(d.values())
print(d.items())
print(d.keys())

dict_values(['patil', '654', '52'])
dict_items([('name', 'patil'), ('roll', '654'), ('age', '52')])
dict_keys(['name', 'roll', 'age'])

In [40]:
d["name"]

'patil'

In [41]:
d["gender"]="f"

In [42]:
d

{'name': 'patil', 'roll': '654', 'age': '52', 'gender': 'f'}

In [43]:
d.get("name")

'patil'

In [46]:
d.get("class")
d

{'name': 'patil', 'roll': '654', 'age': '52', 'gender': 'f'}

In [49]:
d.update({"name":prasanna})
d

NameError: name 'prasanna' is not defined

In [50]:
d.update({"name":"prasanna"})
d

{'name': 'prasanna', 'roll': '654', 'age': '52', 'gender': 'f'}

In [51]:
d.clear()
d

{}

In [52]:
d.setdefault({"a"="none"})
d

SyntaxError: invalid syntax (<ipython-input-52-9c074f8b0931>, line 1)

In [53]:
d["a"]="setdefault"
d

{'a': 'setdefault'}

In [54]:
l=[1,2]
a=[5,5]
x=dict(zip(a,l))
x

{5: 2}

In [7]:
## check whether the given number is in range or not
n1=int(input("enter lower bound"))
n2=int(input("enter upper bound"))
def range(n):
        if n>=n1 and n<=n2:
            print("n is in the range")
        else:
            print("out of range")

enter lower bound8
enter upper bound80

In [8]:
range(50)

n is in the range

In [31]:
#calculating number of digits in a number
#n=int(input("enter a number"))
def countdigit(n):
    count=0
    while(n>0):
        n=n//10
        count+=1
    print(count)

In [32]:
countdigit(1234)

4

In [3]:
#leapyear in a given range
#n1=int(input("enter lower bound"))
#n2=int(input("enter upper bound"))
def range1(n1,n2):
    for i in range (n1,n2):
        if(i%400==0 or i%4==0 and i%100!=0):
            print(i)

In [4]:
range1(1990,2020)

1992
1996
2000
2004
2008
2012
2016

In [7]:
#to check prime number or not
def prime(n):
    count=0
    for i range(2,n//2+1):
        if(n%i!==0):
            count+=1
    if count==0:
        return True
    else:
        return False
     
prime(8)

SyntaxError: invalid syntax (<ipython-input-7-84da945d1753>, line 4)

In [21]:
#to check prime number or not
def isprime(n):
    count=0
    for i in range(2,n//2+1):
        if(n%i==0):
            count+=1
    if count==0:
        return True
    else:
        return False
     
isprime(21)

False

In [24]:
def prime(n1,n2):
    count=0
    for i in range(n1,n2):
        if isprime(i):
            print(i)

In [25]:
prime(2,50)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [53]:
def perfect(n):
    sum=0
    for i in range (1,n):
        if(n%i==0):
            sum=sum+i
    if sum==n:
            return True
    else:
            return False

In [54]:
perfect(9)

False

In [55]:
perfect(6)

True

In [56]:
def perfectrange(n1,n2):
    for i in range(n1,n2+1):

SyntaxError: unexpected EOF while parsing (<ipython-input-56-ed7b0875ce0f>, line 2)

In [58]:
def perfectrange(n1,n2):
    for i in range(n1,n2+1):
        if perfect(i):
            print(i)
perfectrange(1,1000)

6
28
496

In [59]:
#given 2 variables if one of them is 10 or their sum =10 return True else false
def equal(n,var):
    sum=(a+b)
    if (n==10 and sum==10):
        print("equal")
    else:
        print("not equal")

In [62]:
equal(2,21+8)

not equal

In [63]:
s1="hello"##string concatination
s2="world"
s=s1+s2
s

'helloworld'

In [69]:
l=[1,85,18,3,47]
l.sort()
print(l)

[1, 3, 18, 47, 85]

In [70]:
max(l)

85

In [94]:
def list(l):
    l.sort
    print(l)
    print(max(l))
    print(min(l))
    print(l[-2])
list([21,5,36,12,4])

[21, 5, 36, 12, 4]
36
4
12

In [104]:
def l():
    l=[22,3,4,2,12]
    li=[]
    for i in l:
        if i not in li:
            li.append(i)
    print(li)
    li.sort()
    print(li)
    max(li)
    print(max(li))
    min(li)
    print(min(li))
l()

[22, 3, 4, 2, 12]
[2, 3, 4, 12, 22]
22
2